<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Url for the first PxWeb api-->
    <add key="WebApiAddress1" value="http://pxwebdemo.scb.intra/" />
    <!--Url for the second PxWeb api-->
    <add key="WebApiAddress2" value="http://pxwebstandardtest.scb.intra/" />
    <!--Path to the first resultfolder--> 
    <add key="ResultFolder1" value="P:\Prod\IT\IT\UTV4\Team UNO\PxWebComparer\ResultFiles\Site1" />
    <!--Path to the second resultfolder-->
    <add key="ResultFolder2" value="P:\Prod\IT\IT\UTV4\Team UNO\PxWebComparer\ResultFiles\Site2" />
    <!--Path to first folder containing saved queries in .pxsq format-->
    <add key="SQFileFormat1" value="P:\Prod\IT\IT\UTV4\Team UNO\PxWebComparer\QueryTextList\SQFileFormat\Site1" />
    <!--Path to first folder containing saved queries in .pxsq format-->
    <add key="SQFileFormat2" value="P:\Prod\IT\IT\UTV4\Team UNO\PxWebComparer\QueryTextList\SQFileFormat\Site1" />
    <!--Path to file containing list of SQ-ids to be runned on both sites-->
    <add key="QueryTextListPath" value="P:\Prod\IT\IT\UTV4\Team UNO\PxWebComparer\QueryTextList\ThreeQueryFile.txt" />
    <!--Connectionstring settings for site 1 if there is saved queries in database format-->
    <add key="SavedQueryConnectionString1" value="Data Source=XXX;Initial Catalog=YYY;User Id=ZZZ;Password=123;" />
    <!--Connectionstring settings for site 1 if there is saved queries in database format-->
    <add key="SavedQueryConnectionString2" value="Data Source=XXX;Initial Catalog=YYY;User Id=ZZZ;Password=123;" />
    <!--Path to file where to put the result from runned compares-->
    <add key="CompareResultFile" value="P:\Prod\IT\IT\UTV4\Team UNO\PxWebComparer\CompareResults\CompareResults.json" />
    <!--Path to file where to put the result from runned saved query meta compares-->
    <add key="CompareApiResultFile" value="P:\Prod\IT\IT\UTV4\Team UNO\PxWebComparer\CompareResults\CompareApiResults.json" />
     <!--Path to file where to put the result from runned api compares-->
    <add key="CompareSavedQueryResultFile" value="P:\Prod\IT\IT\UTV4\Team UNO\PxWebComparer\CompareResults\CompareSavedQueryResults.json" />
  </appSettings>
</configuration>
