<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebApiAddress1" value="http://pxwebdemo.scb.se/sq/" />
    <add key="WebApiAddress2" value="http://pxwebstandardtest.scb.se/sq/" />
    <add key="ResultFolder1" value="P:\Prod\IT\IT\UTV4\Team UNO\PxWebComparer\ResultFiles\Site1" />
    <add key="ResultFolder2" value="P:\Prod\IT\IT\UTV4\Team UNO\PxWebComparer\ResultFiles\Site2" />
    <add key="QueryTextListPath" value="P:\Prod\IT\IT\UTV4\Team UNO\PxWebComparer\QueryTextList\ThreeQueryFile.txt" />
    <add key="CompareResultFile" value="P:\Prod\IT\IT\UTV4\Team UNO\PxWebComparer\CompareResults\CompareResults.json" />
  </appSettings>
</configuration>