<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebApiAddress1" value="http://pxwebdemo.scb.se/sq/" />
    <add key="WebApiAddress2" value="http://pxwebstandardtest.scb.se/sq/" />
    <add key="ResultFolder1" value="" />
    <add key="ResultFolder2" value="" />
    <add key="QueryTextListPath" value="" />
    <add key="CompareResultFile" value="" />
  </appSettings>
</configuration>